header {
  background-color: aquamarine;
  margin: 2px auto;
  text-align: center;
  color: rgb(31, 31, 27);
  padding: 3em;
  border-radius: 1em;
  box-shadow: 10px grey;
}
img {
  float: left;
  box-shadow: 10px grey;
}
body {
  max-width: 700px;
  font-family: "font-family: 'Tinos', serif";
  margin: auto;
}
h2.line1 {
  border-bottom: 2px solid black;
}
h5.line2 {
  border-top: 2px solid black;
}
main {
  font-family: "Indie Flower", cursive;
}
footer {
  background-color: aquamarine;
  margin: 70px auto;
  text-align: center;
  padding: 20px;
  border-radius: 1em;
}
