header {
  background-color: rgb(39, 117, 91);
  margin: 2px auto;
  text-align: center;
  color: rgb(241, 241, 237);
  padding: 2em;
  border-radius: 1em;
}
h1.name {
  font-size: 3em;
}

img {
  float: left;
}
body {
  max-width: 700px;
  font-family: "font-family: 'Tinos', serif";
  margin: auto;
}
h2.line1 {
  border-bottom: 2px solid black;
}
h5.line2 {
  border-top: 2px solid black;
}
main {
  font-family: "Indie Flower", cursive;
}
footer {
  background-color: rgb(39, 117, 91);
  margin: 70px auto;
  text-align: center;
  padding: 5px;
  border-radius: 1em;
  color: lavender;
  font-size: 140%;
}

#update {
  color: lightcoral;
}
